<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/results">All Friends</a>
    <h1>User Profile</h1>
    {% for one_friend in the_friend %}
    <p>Full Name : {{one_friend['first_name']}}  {{one_friend['last_name']}}</p>
    <p>Occupation : {{one_friend['occupation']}}</p>
    <a href="/edit_person/{{one_friend['id']}}">Edit</a>
    {% endfor %}
</body>
</html>